/**
 * Theme macart
 * 
 * @package d_blog_module
 */
.bm .heading-style, .bm .h1,
.bm h1, .bm .h2,
.bm h2, .bm .h3,
.bm h3, .bm .h4,
.bm h4, .bm .h5, .bm .bm-post-content .form-review .control-label,
.bm h5 {
  font-weight: bold;
  letter-spacing: 1.3px;
  color: #222222; }
.bm .h1,
.bm h1 {
  font-size: 36px; }
.bm .h2,
.bm h2 {
  font-size: 26px;
  line-height: 36px; }
.bm .h3,
.bm h3 {
  font-size: 20px; }
.bm .h4,
.bm h4 {
  font-size: 14px;
  color: #666; }
.bm .h5, .bm .bm-post-content .form-review .control-label,
.bm h5 {
  font-size: 12px;
  padding: 5px 0px;
  color: #666; }
.bm p a {
  color: #99B75E; }
.bm .block-title, .bm .bm-post-content .bm-reviews > .h2, .bm .bm-post-content .form-review > .h2, .bm.bm-module > .h2 {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 300; }
  .bm .block-title:before, .bm .bm-post-content .bm-reviews > .h2:before, .bm .bm-post-content .form-review > .h2:before, .bm.bm-module > .h2:before {
    content: "";
    display: block;
    border-top: solid 1px #e5e5e5;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1; }
  .bm .block-title span, .bm .bm-post-content .bm-reviews > .h2 span, .bm .bm-post-content .form-review > .h2 span, .bm.bm-module > .h2 span {
    background: #fff;
    padding: 0 24px;
    position: relative;
    z-index: 5; }
.bm .category-title, .bm .bm-categories .item-cateogry .title, .bm .bm-post-info .category li a, .bm .post-thumb .post-thumb-heading .category li a {
  font-size: 11px;
  line-height: 18px;
  text-transform: uppercase;
  background: #F5F5F5;
  color: #222222;
  letter-spacing: 1.65px;
  padding: 0px 5px; }
  .bm .category-title:hover, .bm .bm-categories .item-cateogry .title:hover, .bm .bm-post-info .category li a:hover, .bm .post-thumb .post-thumb-heading .category li a:hover {
    text-decoration: underline; }
.bm .text-separator, .bm .bm-post-info .category li, .bm .post-thumb .post-thumb-heading .category li {
  display: block; }
.bm .rating .fa-star-o {
  color: #8b8b8b; }
.bm .rating .fa-star {
  color: #99B75E; }
.bm .rating .fa-star + .fa-star-o {
  color: #7f9c46; }
.bm .tag-style .tag-title, .bm .bm-post-content .tag .tag-title, .bm .post-thumb .post-thumb-body .tag .tag-title {
  padding: 4px 8px;
  background: #333;
  color: #fff;
  display: inline-block;
  border-radius: 2px;
  margin-right: 10px;
  margin-bottom: 10px; }
.bm .tag-style a, .bm .bm-post-content .tag a, .bm .post-thumb .post-thumb-body .tag a {
  border: 1px solid #d8d8d8;
  display: inline-block;
  padding: 3px 8px;
  color: #919191;
  margin-right: -5px;
  background: #fff;
  margin-bottom: 10px; }
.bm .btn-default {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  background-image: linear-gradient(to bottom, #fff, #e6e6e6);
  border-color: #ccc;
  border-radius: 2px; }
  .bm .btn-default:focus, .bm .btn-default.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c; }
  .bm .btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad; }
  .bm .btn-default:active, .bm .btn-default.active, .open > .bm .btn-default.dropdown-toggle {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad; }
    .bm .btn-default:active:hover, .bm .btn-default:active:focus, .bm .btn-default:active.focus, .bm .btn-default.active:hover, .bm .btn-default.active:focus, .bm .btn-default.active.focus, .open > .bm .btn-default.dropdown-toggle:hover, .open > .bm .btn-default.dropdown-toggle:focus, .open > .bm .btn-default.dropdown-toggle.focus {
      color: #333;
      background-color: #d4d4d4;
      border-color: #8c8c8c; }
  .bm .btn-default:active, .bm .btn-default.active, .open > .bm .btn-default.dropdown-toggle {
    background-image: none; }
  .bm .btn-default.disabled:hover, .bm .btn-default.disabled:focus, .bm .btn-default.disabled.focus, .bm .btn-default[disabled]:hover, .bm .btn-default[disabled]:focus, .bm .btn-default[disabled].focus, fieldset[disabled] .bm .btn-default:hover, fieldset[disabled] .bm .btn-default:focus, fieldset[disabled] .bm .btn-default.focus {
    background-color: #fff;
    border-color: #ccc; }
  .bm .btn-default .badge {
    color: #fff;
    background-color: #333; }
.bm .btn-primary {
  color: #fff;
  text-shadow: none;
  background-color: #555;
  background-image: linear-gradient(to bottom, #555, #3b3b3b);
  border-color: #484848;
  border-radius: 2px; }
  .bm .btn-primary:focus, .bm .btn-primary.focus {
    color: #fff;
    background-color: #3b3b3b;
    border-color: #080808; }
  .bm .btn-primary:hover {
    color: #fff;
    background-color: #3b3b3b;
    border-color: #2a2a2a; }
  .bm .btn-primary:active, .bm .btn-primary.active, .open > .bm .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #3b3b3b;
    border-color: #2a2a2a; }
    .bm .btn-primary:active:hover, .bm .btn-primary:active:focus, .bm .btn-primary:active.focus, .bm .btn-primary.active:hover, .bm .btn-primary.active:focus, .bm .btn-primary.active.focus, .open > .bm .btn-primary.dropdown-toggle:hover, .open > .bm .btn-primary.dropdown-toggle:focus, .open > .bm .btn-primary.dropdown-toggle.focus {
      color: #fff;
      background-color: #2a2a2a;
      border-color: #080808; }
  .bm .btn-primary:active, .bm .btn-primary.active, .open > .bm .btn-primary.dropdown-toggle {
    background-image: none; }
  .bm .btn-primary.disabled:hover, .bm .btn-primary.disabled:focus, .bm .btn-primary.disabled.focus, .bm .btn-primary[disabled]:hover, .bm .btn-primary[disabled]:focus, .bm .btn-primary[disabled].focus, fieldset[disabled] .bm .btn-primary:hover, fieldset[disabled] .bm .btn-primary:focus, fieldset[disabled] .bm .btn-primary.focus {
    background-color: #555;
    border-color: #484848; }
  .bm .btn-primary .badge {
    color: #555;
    background-color: #fff; }
.bm .bm-category-info,
.bm .bm-author-info {
  padding: 20px;
  background: #f9f9f9;
  margin-bottom: 40px; }
  .bm .bm-category-info .h1,
  .bm .bm-author-info .h1 {
    margin-top: 0px; }
  .bm .bm-category-info .image,
  .bm .bm-author-info .image {
    max-width: 40%;
    float: left;
    margin-right: 0px;
    padding-right: 20px; }
  .bm .bm-category-info .description,
  .bm .bm-author-info .description {
    margin-top: 15px;
    display: block;
    font-size: 14px;
    line-height: 24px; }
.bm .bm-post-info .category {
  margin: 0px;
  margin-top: 10px;
  padding: 0px;
  text-align: center; }
  .bm .bm-post-info .category li {
    display: inline-block; }
.bm .bm-post-info .title {
  text-align: center;
  margin-bottom: 20px; }
.bm .bm-post-info .title-divider {
  display: none; }
.bm .bm-post-info .title-information {
  margin-bottom: 30px; }
  .bm .bm-post-info .title-information .rating {
    display: block;
    text-align: center;
    margin-bottom: 20px; }
  .bm .bm-post-info .title-information .details {
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    color: #999; }
    .bm .bm-post-info .title-information .details a {
      color: #99B75E; }
.bm .bm-post-info .image {
  margin-bottom: 20px; }
.bm .bm-post-content .description {
  margin-bottom: 20px;
  line-height: 24px; }
.bm .bm-post-content .tag {
  padding-bottom: 20px; }
.bm .bm-post-content .post-nav {
  border-top: solid 1px #e5e5e5;
  border-bottom: solid 1px #e5e5e5;
  margin: 0px;
  margin-bottom: 35px;
  font-style: italic; }
  .bm .bm-post-content .post-nav a {
    color: #99B75E; }
  .bm .bm-post-content .post-nav .post-nav-left {
    padding: 20px 10px 20px 0px;
    border-right: solid 1px #e5e5e5; }
  .bm .bm-post-content .post-nav .post-nav-right {
    padding: 20px 0px 20px 20px;
    border-left: solid 1px #e5e5e5;
    margin-left: -1px; }
  .bm .bm-post-content .post-nav .media-object {
    width: 160px; }
.bm .bm-post-content .bm-author {
  background: #FFF9B1;
  padding: 20px;
  margin-top: 20px; }
  .bm .bm-post-content .bm-author .author-image {
    width: 100px;
    float: left;
    margin-right: 30px; }
  .bm .bm-post-content .bm-author .author-name {
    color: #222; }
  .bm .bm-post-content .bm-author .author-description {
    line-height: 24px;
    font-size: 12px;
    color: #222; }
  .bm .bm-post-content .bm-author .read-more {
    display: inline-block;
    margin-top: 5px;
    color: #222;
    font-style: italic;
    font-size: 12px;
    text-align: right;
    display: block; }
.bm .bm-post-content .bm-reviews .review .description {
  border-bottom: dotted 1px #efefef;
  padding-bottom: 20px; }
.bm .bm-post-content .bm-reviews .media-heading .h4 {
  font-size: 12px;
  margin-bottom: 0px;
  margin-right: 10px; }
.bm .bm-post-content .bm-reviews .media-heading .date-added {
  color: #999999;
  font-style: italic;
  font-size: 11px; }
.bm .bm-post-content .bm-reviews .media-left .media-object {
  border-radius: 50px;
  margin-top: 10px; }
.bm .bm-post-content .bm-reviews .replies .rating {
  display: none; }
.bm .bm-post-content .bm-reviews .replies .media-left .media-object {
  width: 50px;
  border-radius: 50px;
  margin-top: 10px; }
.bm .bm-post-content .form-review {
  margin-bottom: 45px; }
  .bm .bm-post-content .form-review .form-control {
    border-radius: 0px; }
  .bm .bm-post-content .form-review input {
    box-shadow: none;
    outline: 0 !important;
    border: 1px solid #b8b8ba; }
  .bm .bm-post-content .form-review textarea {
    line-height: 26px;
    box-shadow: none;
    outline: 0 !important;
    overflow: hidden;
    word-wrap: break-word;
    resize: horizontal;
    height: 165px;
    border: 1px solid #b8b8ba; }
.bm .post-thumb .post-thumb-heading {
  padding-bottom: 15px;
  margin-top: 5px; }
  .bm .post-thumb .post-thumb-heading .author,
  .bm .post-thumb .post-thumb-heading .date-published {
    margin: 5px 5px 0px 0px;
    display: inline-block;
    color: #999;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 1.5px;
    font-weight: 300; }
    .bm .post-thumb .post-thumb-heading .author i,
    .bm .post-thumb .post-thumb-heading .date-published i {
      display: none; }
  .bm .post-thumb .post-thumb-heading .rating {
    margin: 10px 0px 0px 0px; }
  .bm .post-thumb .post-thumb-heading .category {
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
    text-align: left; }
    .bm .post-thumb .post-thumb-heading .category li {
      display: inline-block; }
  .bm .post-thumb .post-thumb-heading .title {
    text-align: left;
    margin: 0px;
    margin-top: 10px;
    padding: 0px; }
    .bm .post-thumb .post-thumb-heading .title a {
      color: #000; }
  .bm .post-thumb .post-thumb-heading .title-divider {
    display: none; }
.bm .post-thumb .post-thumb-body .short-description {
  font-size: 13px;
  line-height: 18px;
  font-weight: 300;
  color: #999;
  margin-bottom: 20px; }
.bm .post-thumb .post-thumb-footer {
  padding-bottom: 45px; }
  .bm .post-thumb .post-thumb-footer .review,
  .bm .post-thumb .post-thumb-footer .view,
  .bm .post-thumb .post-thumb-footer .read-more {
    display: inline-block;
    margin-top: 5px;
    color: #999;
    font-style: italic;
    font-size: 12px; }
  .bm .post-thumb .post-thumb-footer .review,
  .bm .post-thumb .post-thumb-footer .view {
    margin-right: 5px; }
  .bm .post-thumb .post-thumb-footer .review {
    color: #99B75E; }
@media screen and (min-width: 768px) {
  .bm .col-sm-12 .post-layout .post-thumb .image {
    width: 50%;
    padding-right: 15px;
    float: left; } }
@media screen and (min-width: 768px) {
  .bm .col-sm-12 .post-layout .post-thumb .post-thumb-heading {
    width: 50%;
    float: left; } }
@media screen and (min-width: 768px) {
  .bm .col-sm-12 .post-layout .post-thumb .post-thumb-body {
    width: 50%;
    float: left; } }
.bm.bm-module a {
  color: #99B75E; }

#column-left .bm-posts,
#column-right .bm-posts {
  background: #f9f9f9;
  padding: 20px 20px 0px 20px; }
  #column-left .bm-posts .post-thumb .image,
  #column-right .bm-posts .post-thumb .image {
    width: 50%;
    padding-right: 20px;
    float: left; }
  #column-left .bm-posts .post-thumb .post-thumb-heading,
  #column-right .bm-posts .post-thumb .post-thumb-heading {
    width: 50%;
    float: left;
    margin-top: 0px; }
    #column-left .bm-posts .post-thumb .post-thumb-heading .row .col-md-6,
    #column-right .bm-posts .post-thumb .post-thumb-heading .row .col-md-6 {
      width: 100%; }
    #column-left .bm-posts .post-thumb .post-thumb-heading .row .rating,
    #column-right .bm-posts .post-thumb .post-thumb-heading .row .rating {
      display: none; }
    #column-left .bm-posts .post-thumb .post-thumb-heading .row .author,
    #column-right .bm-posts .post-thumb .post-thumb-heading .row .author {
      display: none; }
    #column-left .bm-posts .post-thumb .post-thumb-heading .row .fa,
    #column-right .bm-posts .post-thumb .post-thumb-heading .row .fa {
      font-size: 10px;
      color: #999; }
    #column-left .bm-posts .post-thumb .post-thumb-heading .category,
    #column-right .bm-posts .post-thumb .post-thumb-heading .category {
      display: none; }
    #column-left .bm-posts .post-thumb .post-thumb-heading .title,
    #column-right .bm-posts .post-thumb .post-thumb-heading .title {
      font-size: 13px;
      line-height: 18px;
      margin-top: 0px;
      font-weight: 300; }
  #column-left .bm-posts .post-thumb .post-thumb-body,
  #column-right .bm-posts .post-thumb .post-thumb-body {
    display: none; }
  #column-left .bm-posts .post-thumb .post-thumb-footer,
  #column-right .bm-posts .post-thumb .post-thumb-footer {
    padding-bottom: 20px; }
    #column-left .bm-posts .post-thumb .post-thumb-footer .review,
    #column-left .bm-posts .post-thumb .post-thumb-footer .view,
    #column-left .bm-posts .post-thumb .post-thumb-footer .read-more,
    #column-right .bm-posts .post-thumb .post-thumb-footer .review,
    #column-right .bm-posts .post-thumb .post-thumb-footer .view,
    #column-right .bm-posts .post-thumb .post-thumb-footer .read-more {
      display: none; }

#timeline.bm-grid:before {
  background: #99B75E; }
#timeline.bm-grid:after {
  background: #99B75E; }
#timeline.bm-grid .bm-grid-item-point {
  background: #99B75E;
  border: 4px solid #fff;
  padding-top: 10px; }
  #timeline.bm-grid .bm-grid-item-point span {
    color: #fff;
    font-weight: 3000; }
#timeline.bm-grid .bm-grid-item-separator {
  background: #99B75E;
  border: 4px solid #fff;
  padding: 1px; }
  #timeline.bm-grid .bm-grid-item-separator .date-year {
    color: #fff;
    font-size: 16px;
    font-weight: 3000; }

/*# sourceMappingURL=macart.css.map */
